@font-face {
    font-family: '8x8';
  src: url('8dot.woff') format('woff'),
       url('8dot.ttf') format('truetype');
}

html,
body {
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
    font-family: '8x8';
    font-size: 20px;
    /*user-select: none;*/
}

.game-wapper {
    position: relative;
    height: 500px;
}
.canvas {
    position: absolute;
    top: 0;
    box-sizing: border-box;
    width: 500px;
    height: 500px;
    border: 1px solid #ddd;
}
.game-option {
    position: absolute;
    top: 0;
    z-index: 10;
    box-sizing: border-box;
    width: 500px;
    height: 500px;
    padding: 0 1em;
}

.touch-keyboard {
    display: table;
    width: 500px;
}

.button {
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    background: #fff;
}

/*.button:active {
    color: #fff;
    background-color: #ddd
}*/

.touch-keyboard > .button {
    display: table-cell;
    height: 100px;
    vertical-align: middle;
}

#canvas:-webkit-full-screen {
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
}

.list {
    list-style: none;
}